services:
  - type: web
    name: ms-categories
    env: python
    plan: free
    region: oregon
    rootDir: ms-categories
    buildCommand: pip install -r ../requirements.txt
      startCommand: uvicorn ms-categories.main:app --host 0.0.0.0 --port $PORT --workers 2
    autoDeploy: true

  - type: web
    name: ms-cities
    env: python
    plan: free
    region: oregon
    rootDir: ms-cities
    buildCommand: pip install -r ../requirements.txt
      startCommand: uvicorn ms-cities.main:app --host 0.0.0.0 --port $PORT --workers 2
    autoDeploy: true

  - type: web
    name: ms-points-of-sale
    env: python
    plan: free
    region: oregon
    rootDir: ms-points-of-sale
    buildCommand: pip install -r ../requirements.txt
      startCommand: uvicorn ms-points-of-sale.main:app --host 0.0.0.0 --port $PORT --workers 2
    autoDeploy: true
