services:
  - type: web
    name: ms-categories
    env: python
    plan: free
    region: oregon
    rootDir: .
    buildCommand: pip install -r requirements.txt
    startCommand: bash start.sh ms-categories
    autoDeploy: true

  - type: web
    name: ms-cities
    env: python
    plan: free
    region: oregon
    rootDir: .
    buildCommand: pip install -r requirements.txt
    startCommand: bash start.sh ms-cities
    autoDeploy: true

  - type: web
    name: ms-points-of-sale
    env: python
    plan: free
    region: oregon
    rootDir: .
    buildCommand: pip install -r requirements.txt
    startCommand: bash start.sh ms-points-of-sale
    autoDeploy: true
